{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "spread": true,
      "restParams": true,
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "extends": [
    "./.globals.json",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier/standard"
  ],
  "plugins": [
    "prettier",
    "react"
  ],
  "rules": {
    "prettier/prettier": "error",
    "no-undef":"error",
    "no-redeclare":"error",
    "react/display-name": "warn"
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  }
}
